button, .btn {
  font-family: $font-primary;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  border: none;
  position: relative;
  border-radius: unquote(map-get($radiuses,'xs'));
  background-color: white;
  padding: unquote(map-get($units,'1'));
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: 0;
  }
}

.disabled, :disabled {
  opacity: 0.7;
}

@mixin buttonColors() {
  @for $i from 1 through length($colors) {
    .btn-color-#{$i - 1}) {
      @if $i == 2 {
        color: white;
      } @else {
        color: $color-1;
      };
      background-color: #{nth($colors,$i)}
    }
  }
}
@include buttonColors();
